.jumbotron {
    margin-bottom: 0px;
    background-image: url(Danielle-1648-2.jpg);
    opacity: .8;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.jumbotron2 {
    margin-bottom: 0px;
    background-image: url(San_Francisco_skyline_from_Coit_Tower.jpg);
    background-position: 0% 25%;
    opacity: .8;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.jumbotron3 {
    margin-bottom: 0px;
    background-color: red;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 15pt;
}

